.logo {
    background-image: url("church_online_platform_logo_light_text.png") !important;
}

.logo-dark {
    background-image: url("church_online_platform_logo_dark_text.png") !important;
}

.free-now-free-always {
    background-image: url("home_free_large.jpg") !important;
}

.features nav {
    background-image: url("features_hero_large.jpg");
}

#features-social-media {
    background-image: url("features_social_background_large.jpg");
}
